/* Global Styles */
body {
  background-image: url(https://media.discordapp.net/attachments/815808160874889247/1228027824435232838/Battle.Royale.2000.1080p.BluRay.x264.AAC5.1-YTS.MX.mp4_02_03_2024_23_43_58.png?ex=662a8d08&is=66181808&hm=e9b3204b393554a998cd0031271a2ecac54ef55bc6010642da296654a8e6062f&=&format=webp&quality=lossless&width=1176&height=662);
  background-size:cover;
  background-repeat: no-repeat;
  justify-content:stretch;

}

/* Content Container Styles */
.content-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;

 
  
}

/* Heading Styles */
h1 {
  font-family: "Oswald", sans-serif;;
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center; 
  text-shadow: 0 0 5px #ffffff80, /* Inner white glow */
               0 0 10px #00ffff4d; /* Outer blue glow */
  color: #ffffff;
}
/* Paragraph styles */
.paragraph {
  font-family: 'Times New Roman', Times, serif;
font-weight: 200;
  font-size: 16px;
  margin-bottom: 20px;
  color: #9acd32;
  text-align: center;
}
 /* Quote container Styles */
 .quote-container {
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  border-radius: 0px;
}
.quote {
  font-family:'Gowun Batang', serif;
  font-weight: 300;
  font-size: 24px;
  font-style: italic;
  color: #4776bc;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(71, 67, 67, 0.5);
}

.author {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 12px;
  display: block;
  text-align: right;
  color: #ffffff;
}
h2 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: justify;
  color: #fff;
}

/* Paragraph Styles */
p2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 11px;
  text-align: right;
  color: #ffffff;
  margin-bottom: auto;
}

/* Link Styles */
.project-link {
  display: block;
  text-align: center;
  padding: 12px 30px;
  background-color: #333;
  color: #fff;
  text-decoration:underline;
  font-weight: bold;
}
